<section class="hero container">
    <h1 class="hero-title">Комплексная подготовка к ВНО
        по английскому языку
    </h1>
    <p class="hero-text">
        <span class="hero-text-grey">Просто не будет.</span>
        Но ты гарантировано наберешь
        <span class="hero-text-orng">+25 баллов</span>
    </p>
    <button class="hero-button">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>
    <img src="" alt="">

    <ul class="hero-list">
        <li class="hero-item">
            <svg class="hero-icon">
                <use></use>
            </svg>
            <p class="hero-item-text">Адаптированная авторская
                программа ВНО</p>
        </li>
        <li class="hero-item">
            <svg class="hero-icon">
                <use></use>
            </svg>
            <p class="hero-item-text">Современные
                методики обучения</p>
        </li>
        <li class="hero-item">
            <svg class="hero-icon">
                <use></use>
            </svg>
            <p class="hero-item-text">Финансовая гарантия
                результата</p>
        </li>
    </ul>
</section>