<section class="teacher section">
  <div class="container">

  <h2 class="section-title">Преподаватель</h2>

 <div class="section-wrapper">
    <picture class="teacher-picture">
      <source srcset="./images/teacher/teacher-desktop.webp 1x, ./images/teacher/teacher-desktop@2x.webp 2x"
        media="(min-width: 1314px)" type="image/webp">
    
      <source srcset="./images/teacher/teacher-desktop.jpg 1x, ./images/teacher/teacher-desktop@2x.jpg 2x"
        media="(min-width: 1314px)">
    
      <source srcset="./images/teacher/teacher-tablet.webp 1x, ./images/teacher/teacher-tablet@2x.webp 2x"
        media="(min-width: 768px)" type="image/webp">
    
      <source srcset="./images/teacher/teacher-tablet.jpg 1x, ./images/teacher/teacher-tablet@2x.jpg 2x"
        media="(min-width: 768px)">
    
      <source srcset="./images/teacher/teacher-mobile.webp 1x, ./images/teacher/teacher-mobile@2x.webp 2x"
        media="(min-width: 320px)" type="image/webp">
    
      <source srcset="./images/teacher/teacher-mobile.jpg 1x, ./images/teacher/teacher-mobile@2x.jpg 2x"
        media="(min-width: 320px)">
    
      <img class="teacher-img" src="./images/teacher/teacher-desktop.jpg" alt="Девушка в черном платье">
    </picture>
    
    <div class="teacher-wrapper">
      <h3 class="teacher-name">Елена Морева</h3>
    
      <ul class="teacher-achievments list">
        <li class="teacher-achievments-list-item">
          <svg class="check-icon">
            <use href="./images/icon/sprite.svg#icon-check"></use>
          </svg>
          <p class="teacher-achievments-list-item-desc">Опыт подготовки учеников к ВНО - 6 лет</p>
        </li>
        <li class="teacher-achievments-list-item">
          <svg class="check-icon">
            <use href="./images/icon/sprite.svg#icon-check"></use>
          </svg>
          <p class="teacher-achievments-list-item-desc">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
        </li>
        <li class="teacher-achievments-list-item">
          <svg class="check-icon">
            <use href="./images/icon/sprite.svg#icon-check"></use>
          </svg>
          <p class="teacher-achievments-list-item-desc">Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)</p>
        </li>
      </ul>
    
      <ul class="education list">
        <li class="education-list-item">
          <p class="education-list-item-desc">
            Высшее образование получила в Институте международных отношений НАУ по специальности переводчик-аналитик.
          </p>
        </li>
        <li class="education-list-item">
          <p class="education-list-item-desc">
            В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания
            сочинений.
          </p>
        </li>
        <li class="education-list-item">
          <p class="education-list-item-desc">В числе пройденных: English Grammar and Essay Writing (Berkeley), English
            Grammar&Style (The University of Queesland),
            How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
            education),
            Powerful Tools for Teaching and Learning (University of Houston).
          </p>
        </li>
      </ul>
    
      <p class="certificate">
        Cambrige English Entry Level Certificate
      </p>
    </div>
 </div>

  </div>
</section>