.problems-wrapper {
  position: relative;
  padding-top: 50px;
  padding-bottom: 367px;
  background-color: $dark-bg;
}
.problems-title {
  display: block;
  font-family: $font;
  min-width: 280px;
  font-style: normal;
  font-weight: 1000;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: $white-font;

  & .accent-title {
    color: $orange;
  }
}
.problems-features-overlay {
  position: absolute;

  width: 280px;
  padding: 20px 30px;
  background-color: $white-font;
}
.problems-features-item {
  margin-bottom: 20px;
}
.problems-features-number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.643;
  letter-spacing: 0.08em;
  color: $orange;
}
.problems-features-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: $dark-bg;
}
