.container.review__section {
  padding: 50px 0;
  position: relative;

  @media screen and (min-width: 1344px) {
    padding: 130px 92px;
  }
}

.review__section {
  margin: 0 auto;
  text-align: center;
}

.slick-arrow {
  width: 25px;
  height: 14px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  fill: $orange;
  font-size: 0;
  opacity: 1;
  transition: $transSet;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }

  &.slick-prev {
    background-image: url('../images/icon/arrow-left.svg');
    background-size: cover;
  }
  &.slick-next {
    background-image: url('../images/icon/arrow-right.svg');
    background-size: cover;
  }

  @media screen and (max-width: 767px) {
    bottom: 70px;
    &.slick-prev {
      left: 20px;
    }
    &.slick-next {
      right: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    bottom: 290px;
    &.slick-prev {
      left: 28px;
    }
    &.slick-next {
      right: 28px;
    }
  }
  @media screen and (min-width: 1344px) {
    bottom: 409px;
    &.slick-prev {
      left: 43px;
    }
    &.slick-next {
      right: 43px;
    }
  }
}

.review__title {
  @include font($font, normal, 800, 20px, 1.3);
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 46px;
  }
}

.review__card.slick-slide {
  padding: 20px 20px 30px;
  margin: 20px 20px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: space-between;
    padding: 40px;
    margin: 0 40px 30px;
    // margin-bottom: 30px;
    // width: 688px !important;
    // width: 100%;
  }
  @media screen and (min-width: 1344px) {
    padding: 50px 111px 50px 82px;
    margin: 0 40px 40px;
    // margin-bottom: 40px;
  }
}

.review__card-info--right {
  @media screen and (min-width: 768px) {
    margin-left: 46px;
    text-align: start;
    width: 412px;
  }

  @media screen and (min-width: 1344px) {
    margin-left: 40px;
    width: 706px;
  }
}

.review__student-picture {
  margin: 0 auto 20px;
  width: 90px;
  @media screen and (min-width: 768px) {
    margin: 0 0 20px 0;
    width: 150px;
  }
}

.review__student-contact {
  display: inline-block;
  margin-bottom: 20px;
}

.review__student-name {
  @include font($font, normal, 800, 14px, 1.2);
  letter-spacing: 0.08em;
  color: $orange;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    font-size: 20px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.review__student-eduction {
  @include font($font, normal, 500, 12px, 1.25);
  letter-spacing: 0.08em;
  color: $light-font;
  margin: 0 20px 10px;

  @media screen and (min-width: 768px) {
    margin: 0 0 20px;
  }
  @media screen and (min-width: 1344px) {
    padding-right: 268px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.review__student-comment {
  @include font($font, normal, 500, 12px, 1.67);
  color: $sec-light-font;
  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.6;
  }
}

.review__comment-more {
  display: inline-block;
  color: $orange;
  text-decoration: underline;
}

.slick-list.draggable {
  position: static;
  padding: 0 !important;
  // .reviw__slider-nav & {
  //   margin-right: -15px;
  // }
}

// .reviw__slider-for .slick-list.draggable {
//   @media screen and (min-width: 768px) {
//     width: 688px;
//     margin: 0 auto;
//   }
// }

.slick-track {
  display: flex;
  justify-content: space-between;
  position: static;
}

.review__students-list {
  position: static;
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 182px;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    width: 588px;
    padding-left: 15px;
  }
}

.review__student {
  // width: 90px !important;
  height: 56px;
}

.review__student-button {
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:focus,
  .slick-current & {
    border: 1px solid $orange;
  }
}

.review__student-picture--small {
  width: 54px;
}
