.section.teacher {
  padding-top: 210px;
  background-color: $white-font;

  @media screen and (min-width: 768px) {
    padding-top: 290px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 329px;
    padding-bottom: 130px;
  }
}

.section-title {
  font-family: $font;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $dark-font;

  margin-bottom: 20px;
  padding-left: 2px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 30px;
    padding-left: 3px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}

.teacher-img {
  width: 243px;
  height: auto;
  object-fit: contain;
  object-position: center;

  @media screen and (min-width: 1344px) {
    width: 530px;
  }
}

.teacher-picture {
  display: flex;
  margin-bottom: 20.42px;
  max-width: 243px;

  @media screen and (min-width: 768px) {
    margin-bottom: unset;
    padding-left: 3px;
  }

  @media screen and (min-width: 1344px) {
    padding-left: unset;
    max-width: 530px;
  }
}

.teacher-name {
  position: relative;

  font-family: $font;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  color: $dark-font;

  margin-bottom: 30px;

  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 45px;
  }

  &::after {
    position: absolute;

    content: '';
    display: block;
    left: 0;
    bottom: -10px;
    width: 100%;
    border-bottom: 1px solid $light-font;

    @media screen and (min-width: 1344px) {
      bottom: -15px;
    }
  }
}

.check-icon {
  display: block;
  max-width: 17.08px;
  height: 14px;
  margin-right: 8.92px;

  @media screen and (min-width: 1344px) {
    max-width: 24.41px;
    height: 20px;
    margin-right: 34.59px;
  }
}

.teacher-achievments.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 19px;

  @media screen and (min-width: 1344px) {
    margin-bottom: 29px;
  }

  &::after {
    display: block;
    content: '';
    width: 20px;
    border-bottom: 2px solid $orange;
    margin-top: 22px;

    @media screen and (min-width: 768px) {
      margin-top: 17px;
    }

    @media screen and (min-width: 1344px) {
      margin-top: 32px;
    }
  }
}

.teacher-achievments-list-item {
  display: flex;
  justify-content: baseline;
  font-family: $font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  margin-left: 1px;

  color: $dark-font;

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.25;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.education.list {
  padding-left: 1px;
  margin-bottom: 10px;

  @media screen and (min-width: 1344px) {
    margin-bottom: 20px;
  }
}

.education-list-item {
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: $light-font;

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.56;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.certificate {
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  padding-left: 1px;

  color: $orange;

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .teacher-wrapper {
    display: block;
    width: 100%;

    @media screen and (min-width: 768px) {
      margin-left: 40px;
      max-width: 402px;
    }

    @media screen and (min-width: 1344px) {
      margin-left: 30px;
      max-width: 642px;
    }
  }
}